/* Please Make only Rhino and Zebra Blue */
#rhino,#zebra {
    color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse{
    color:gold;
}
/* Please select Duck with the highest level of specificity possible */
html > body > h1#hi + body section.top + section.middle + .areDucksDinosaurs > h2.likesToQuack.fight1Or100{
    color:gray !important;
}
/* Please select Rhino with the highest level of specificity possible */
html > body > h1#hi + h2.africa.fourlegs#rhino{
    color:lightblue !important;
}