/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: #87CEEB;
  	color: #E8ECEE;
  	font: 400 16px/22px "Roboto Slab", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 20px auto;
	width: 60%;
	padding: 5px 50px 5px 50px;
	border: 5px solid #48CD31;
  }
section img {
    float: right;
	width: 200px; 
	height: auto; 
}
header{
	text-align: center; 
}
h1{
	font: italic 700 40px "Roboto Slab", "Open Sans", sans-serif;
	color: white;
	margin-bottom: 24px;
}
header ul{
	display: inline;
	font: bold 700 20px "Roboto Slab", "Open Sans", sans-serif;
}
header ul li {
    display: inline; 
    margin-right: 10px;
}
section h2{
	font: 700 24px "Roboto Slab", "Open Sans", sans-serif;
	color: white;
	margin-bottom: 20px;
	margin-top: 24px;
}
footer ul{
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
}
footer ul li {
    display: inline; 
    margin-right: 10px;
}

ul li a{
	color: green;
}
ul li a:hover{
	color: white;
	text-decoration: none;
}