/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
}


/******************************************
/* LAYOUT
/*******************************************/
.bluetxt{
  color:#1965f2;
  font-weight: 900;
  border: none;
  float:left;
  margin: 1% 0 0 5%;
  
}

button{
  border: none;
  cursor: pointer;
  float:left;
  margin: 16px 5% 0 -8%;
}
input[type="text"] {
  float:left;
  padding-right: 30px;
  margin: 1% 5%;
}
.go img{
  float:left;
  margin: 2px 0 0 5%;
}
.go h3{
  float:left;
  width: 15%;
  margin: 1% 5% 0 0;
}
.goo{
  float:left;
  margin-left: 5%;
}
.goo ul li{
  display: inline; 
  margin-right: 10px;
  
}
.goo ul li a{
  color:#1965f2;
  font-weight: 900;
  text-decoration: none;
}
.go1{
  margin-left: 10%;
  float: left;
}
.go1 img{
  width: 45%;
  float: left;
}
.go2{
  margin-left: 50%;
  margin-top: 13%;
}
.go2 ul li{
  display: inline; 
  
  
}
.go2 ul{
  margin-left: -7%;
  margin-top: 10%;
}
.go2 ul li a{
  color:white;
  background-color: #1965f2;
  padding: 2% 2% 2% 2%;
  border-radius: 10%;
  font-weight: 900;
  text-decoration: none;
}
header {

}

footer {
  background-color: #f7f5f4;
  clear: both;
  padding: 1% 0 2.5% 40%;
  height:40%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
